<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427904406568-4up31i0d63pms1gugdc39470lp40n7f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427904406568-4up31i0d63pms1gugdc39470lp40n7f0</string>
	<key>API_KEY</key>
	<string>AIzaSyBfVKttNEEgNADpPU9fqIv6tl7E8abjpzY</string>
	<key>GCM_SENDER_ID</key>
	<string>427904406568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.komuro4182.PhotoApp</string>
	<key>PROJECT_ID</key>
	<string>photoapp2-c0951</string>
	<key>STORAGE_BUCKET</key>
	<string>photoapp2-c0951.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427904406568:ios:517eb87460a5ad1c98911d</string>
</dict>
</plist>